{
  "extends": "airbnb",
  "rules": {
    "no-console": 0,
    "indent": 0,
    "no-tabs": 0,
    "no-mixed-spaces-and-tabs": 0,
    "no-confusing-arrow": 0,
    "no-unused-expressions": 0,
    "import/no-extraneous-dependencies": 0,
    "react/jsx-indent": 0,
    "react/jsx-filename-extension": 0
  },
  "globals": {
    "global": true,
    "document": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": [
          "client/src"
        ]
      }
    }
  }
}